{
    "presets": [
        [ "@babel/preset-env", { "targets": { "node": "10" } } ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        ["module-resolver", {
            "root": [ "./client/src" ],
            "alias": {
                "@components": "./client/src/components",
                "@assets": "./client/src/assets",
                "@": "./client"
            }
        }]
    ]
}